<%inherit file="base.html"/>
<%block name="title">Knitting</%block>

<div style="margin-bottom: 20px">
	<div class="show_without_connection" style="display:none">
		<img src="/static/img/icon_connerr.svg" id="connection_error">
	</div>
	<div class="show_with_connection" style="display:none">
		<div class="pure-g">
			<div class="pure-u-1-3">
				<button title="Start/stop knitting" class="menubutton btype-play" onclick="action_stop_play()" id="play_button" />
				<button title="Repeat pattern" class="menubutton btype-repeat" onclick="action_repeat_oneshot()" id="repeat_button" />
				<button title="Hide bar" onmousedown="action_hide_bar(true)" onmouseup="action_hide_bar(false)" class="menubutton btype-eye" />
			</div>
			<div class="pure-u-1-3">
				<button class="menubutton displayonly btype-warning" id="carriage_pos_button" disabled="true"></button>
				<button class="menubutton displayonly btype-carriage-unknown" id="carriage_direction_button" disabled="true"></button>
				<button class="menubutton displayonly btype-skipcnt" id="skipped_needles_cnt" disabled="true"></button>
			</div>
		</div>
	</div>
</div>

<div class="show_with_connection" style="position: relative; top: -10px;">
	<div class="pure-g">
		<div class="pure-u-1-3">
			<h4>Pattern Size</h4>
			<p id="pattern_size"></p>
		</div>

		<div class="pure-u-1-3">
			<h4>Pattern Position</h4>
			<p id="pattern_pos"></p>
		</div>
	</div>
</div>

<div>
	<img src="/static/img/needles.png" /><br />
	<img src="/static/img/arrow.png" id="carriage_position_arrow" style="position: relative; left: 0px; top: -10px" />
</div>
<div class="show_with_pattern" style="display:none">
	<div style="position: relative">
		<img src="/rest/pattern" onerror="pattern_available(false)" onload="pattern_available(true)" id="pattern" style="position: relative" />
		<img src="/static/img/darkbar.png" id="active_row_bar" style="position: absolute; left: -10px; top : 5px">
	</div>
</div>
<div class="show_without_pattern" style="display:none">
	No pattern loaded.
</div>

<script language="JavaScript">
const connection_error = document.getElementById("connection_error");
const skipped_needles_cnt = document.getElementById("skipped_needles_cnt");
const carriage_position_arrow = document.getElementById("carriage_position_arrow");
const carriage_pos_button = document.getElementById("carriage_pos_button");
const carriage_direction_button = document.getElementById("carriage_direction_button");
const have_pattern_loaded = document.getElementById("have_pattern_loaded");
const no_pattern_loaded = document.getElementById("no_pattern_loaded");
const active_row_bar = document.getElementById("active_row_bar");
const play_button = document.getElementById("play_button");
const repeat_button = document.getElementById("repeat_button");
const pattern = document.getElementById("pattern");
const pattern_size = document.getElementById("pattern_size");
const pattern_pos = document.getElementById("pattern_pos");
let last_status = null;

const row_sound = (localStorage.getItem("setting_row_sound") != 0) ? new Audio("/static/sound/ding.mp3") : null;
const pattern_finished_sound = new Audio("/static/sound/pattern_finished.mp3");

const websocket_uri = "ws://" + window.location.host + "/ws/status";
let websocket = null;

function offset_to_needle(offset) {
	if ((offset >= 0) && (offset < 100)) {
		return "Yellow " + (100 - offset);
	} else if ((offset >= 0) && (offset < 200)) {
		return "Green " + (offset - 99);
	} else {
		return "{" + offset + "}";
	}
}

function set_one_class_of(element, classname, classlist) {
	classlist.forEach(function(old_classname) { element.classList.replace(old_classname, classname); });
	element.classList.add(classname);
}

function wsevent_onmessage(event) {
	const msg = JSON.parse(event.data);
	if (msg["msg_type"] == "connection_error") {
		connection_error.title = msg["text"];
		document.querySelectorAll(".show_with_connection").forEach(function(element) { element.style.display = "none"; });
		document.querySelectorAll(".show_without_connection").forEach(function(element) { element.style.display = ""; });
	} else if (msg["msg_type"] == "status") {
		set_one_class_of(play_button, msg["knitting_mode"] ? "btype-play" : "btype-stop", [ "btype-stop", "btype-play" ]);
		set_one_class_of(repeat_button, "btype-" + msg["repeat_mode"], [ "btype-oneshot", "btype-repeat", "btype-manual" ]);

		document.querySelectorAll(".show_with_connection").forEach(function(element) { element.style.display = ""; });
		document.querySelectorAll(".show_without_connection").forEach(function(element) { element.style.display = "none"; });
		skipped_needles_cnt.innerHTML = msg["skipped_needles_cnt"];
		skipped_needles_cnt.title = msg["skipped_needles_cnt"] + " needles were skipped";

		ypos = -10 + (msg["pattern_row"] * 5);
		active_row_bar.style.top = ypos + "px";

		const xshift = 5 * msg["pattern_offset"];
		pattern.style.left = xshift + "px";

		if (msg["carriage_position_valid"]) {
			const pixel_pos = (msg["carriage_position"] * 4.95);
			carriage_position_arrow.title = "Needle " + msg["carriage_position"] + ", " + offset_to_needle(msg["carriage_position"]);
			carriage_position_arrow.style.left = pixel_pos + "px";
			if ((pattern_finished_sound != null) && (last_status != null) && (last_status["knitting_mode"]) && (!msg["knitting_mode"])) {
				/* Machine shut off */
				pattern_finished_sound.play();
			} else if ((row_sound != null) && (last_status != null) && (last_status["carriage_position_valid"]) && (last_status["pattern_row"] != msg["pattern_row"])) {
				/* Row advanced */
				row_sound.play();
			}
			carriage_position_arrow.style.display = "";
			set_one_class_of(carriage_pos_button, "btype-checkmark", [ "btype-checkmark", "btype-warning" ]);
			carriage_pos_button.title = "Carriage position calibrated";
		} else {
			carriage_position_arrow.style.display = "none";
			set_one_class_of(carriage_pos_button, "btype-warning", [ "btype-checkmark", "btype-warning" ]);
			carriage_pos_button.title = "Carriage position not calibrated; move to very left or right side.";
		}

		if (msg["carriage_position_valid"] && (msg["knitting_mode"])) {
			const is_even_row = ((msg["pattern_row"] % 2) == 0);
			if (msg["even_rows_left_to_right"] == is_even_row) {
				set_one_class_of(carriage_direction_button, "btype-carriage-right", [ "btype-carriage-unknown", "btype-carriage-right", "btype-carriage-left" ]);
				carriage_direction_button.title = "Carriage moves from left to right";
			} else {
				set_one_class_of(carriage_direction_button, "btype-carriage-left", [ "btype-carriage-unknown", "btype-carriage-right", "btype-carriage-left" ]);
				carriage_direction_button.title = "Carriage moves from right to left";
			}
		} else {
			set_one_class_of(carriage_direction_button, "btype-carriage-unknown", [ "btype-carriage-unknown", "btype-carriage-right", "btype-carriage-left" ]);
			carriage_direction_button.title = "Carriage travel direction unknown";
		}

		const real_width = msg["pattern_max_x"] - msg["pattern_min_x"] + 1;
		const real_height = msg["pattern_max_y"] - msg["pattern_min_y"] + 1;
		pattern_size.innerHTML = real_width + " x " + real_height;

		const real_offset_x = msg["pattern_min_x"] + msg["pattern_offset"];
		pattern_pos.innerHTML = offset_to_needle(real_offset_x) + " - " + offset_to_needle(real_offset_x + real_width - 1);


		last_status = msg;
	} else {
		console.log("Unknown message type: ", msg)
	}
}

function pattern_available(availibility) {
	document.querySelectorAll(availibility ? ".show_without_pattern" : ".show_with_pattern").forEach(function(element) { element.style.display = "none"; });
	document.querySelectorAll(availibility ? ".show_with_pattern" : ".show_without_pattern").forEach(function(element) { element.style.display = ""; });
}

function wsevent_onerror(event) {
	console.log("Websocket error:", event);
}

function wsevent_onclose(event) {
	console.log("Websocket closed:", event);
	setTimeout(function() { websocket = connect_websocket(websocket_uri); }, 1000);
}

function action_stop_play() {
	if (last_status != null) {
		let uri = null;
		if (last_status["knitting_mode"]) {
			/* Set knitting mode to off so we don't get the finsihed sound */
			last_status["knitting_mode"] = false;
			uri = "/rest/set_knitting_mode/off";
		} else {
			uri = "/rest/set_knitting_mode/on";
		}
		if (uri) {
			const request = new XMLHttpRequest();
			request.open("POST", uri, true);
			request.send();
		}
	}
}

function action_repeat_oneshot() {
	if (last_status != null) {
		let uri = null;
		if (last_status["repeat_mode"] == "oneshot") {
			uri = "/rest/set_repeat_mode/repeat";
		} else if (last_status["repeat_mode"] == "repeat") {
			uri = "/rest/set_repeat_mode/manual";
		} else if (last_status["repeat_mode"] == "manual") {
			uri = "/rest/set_repeat_mode/oneshot";
		} else {
			console.log("Unknown repeat action.", last_status);
		}
		if (uri) {
			const request = new XMLHttpRequest();
			request.open("POST", uri, true);
			request.send();
		}
	}
}

function action_row_set(pattern_row) {
	if (last_status != null) {
		if (last_status["repeat_mode"] == "repeat") {
			pattern_row = (pattern_row + last_status["pattern_height"]) % last_status["pattern_height"];
		}

		if ((pattern_row >= 0) && (pattern_row < last_status["pattern_height"])) {
			/* Set last row to expected row so we don't get beeping */
			last_status["pattern_row"] = pattern_row;

			const request = new XMLHttpRequest();
			request.open("POST", "/rest/pattern_row/" + pattern_row, true);
			request.send();
		}
	}
}

function action_row_inc(value) {
	if ((last_status != null) && (last_status["pattern_height"] > 0)) {
		const pattern_row = last_status["pattern_row"] + value;
		action_row_set(pattern_row);
	}
}

function action_offset_inc(value) {
	if ((last_status != null) && (last_status["pattern_height"] > 0)) {
		const new_offset = last_status["pattern_offset"] + value;

		const request = new XMLHttpRequest();
		request.open("POST", "/rest/pattern_offset/" + new_offset, true);
		request.send();
	}
}

function action_hide_bar(hide_bar) {
	active_row_bar.style.display = hide_bar ? "none" : "";
}

function connect_websocket(uri) {
	const websocket = new WebSocket(uri);
	websocket.onmessage = wsevent_onmessage;
	websocket.onerror = wsevent_onerror;
	websocket.onclose = wsevent_onclose;
	return websocket;
}

function keypress(key) {
	if (key.key == "ArrowUp") {
		action_row_inc(-1);
	} else if (key.key == "ArrowDown") {
		action_row_inc(1);
	} else if (key.key == "PageDown") {
		action_row_inc(5);
	} else if (key.key == "PageUp") {
		action_row_inc(-5);
	} else if (key.key == "Home") {
		action_row_set(0);
	} else if (key.key == "End") {
		if (last_status != null) {
			action_row_set(last_status["pattern_height"] - 1);
		}
	} else if (key.key == "ArrowLeft") {
		action_offset_inc(-1);
	} else if (key.key == "ArrowRight") {
		action_offset_inc(1);
	}
}

websocket = connect_websocket(websocket_uri);
document.onkeydown = keypress;
</script>
