<%inherit file="base.html"/>
<%block name="title">Pattern</%block>

<div class="show_with_pattern" style="display:none">
	<img src="/rest/pattern" class="show_with_pattern" style="display:none" onerror="pattern_available(false)" onload="pattern_available(true)" id="pattern" />
</div>
<div class="show_without_pattern" style="display:none">
	No pattern loaded.
</div>

<h2>Load Pattern</h2>
<form class="pure-form pure-form-aligned" method="post" action="/rest/pattern" enctype="multipart/form-data">
	<fieldset>
		<div class="pure-control-group">
			<label for="pattern">Input file:</label>
			<div class="upload-btn-wrapper">
				<button class="pure-button pure-button-secondary">Choose file</button>
				<input type="file" name="pattern" accept="image/png" onchange="file_selected()" />
				<span id="file-chosen" style="display: none; color: #27ae60; font-size: 2em; vertical-align: center;">✓</span>
			</div>
		</div>

		<div class="pure-control-group">
			<label for="xoffset">X offset:</label>
	        <input type="text" id="xoffset" name="xoffset" value="0" size="3">
		</div>

		<div class="pure-control-group">
			<label for="yoffset">Y offset:</label>
	        <input type="text" id="yoffset" name="yoffset" value="0" size="3">
		</div>

		<div class="pure-control-group">
			<input type="submit" class="pure-button only-when-have-file" name="set_pattern" value="Set pattern" disabled="true">
			<input type="submit" class="pure-button only-when-have-file" name="merge_pattern" value="Merge pattern" disabled="true">
		</div>
	</fieldset>
</form>

<h2>Edit Pattern</h2>
<form class="pure-form pure-form-stacked" method="post" action="/rest/pattern">
	<input type="submit" class="pure-button" name="center_pattern" value="Center pattern">
	<input type="submit" class="pure-button" name="trim_pattern" value="Trim pattern">
	<input type="submit" class="pure-button" name="clr_pattern" value="Clear pattern">
</form>

<h2>Download Pattern</h2>
<form class="pure-form pure-form-stacked" method="get" action="/rest/pattern/raw">
	<input type="submit" class="pure-button" value="Download">
</form>

<script>
const pattern = document.getElementById("pattern");

function pattern_available(availibility) {
	document.querySelectorAll(availibility ? ".show_without_pattern" : ".show_with_pattern").forEach(function(element) { element.style.display = "none"; });
	document.querySelectorAll(availibility ? ".show_with_pattern" : ".show_without_pattern").forEach(function(element) { element.style.display = ""; });
}

function file_selected() {
	document.getElementById("file-chosen").style.display = "";
	document.querySelectorAll(".only-when-have-file").forEach(function(element) { element.disabled = false; });
}
</script>
