button.menubutton {
	width: 54px;
	height: 54px;
	margin-right: 5px;
	background-color: #f0f0f0;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 4px;
	overflow: hidden;
	outline: none;
	vertical-align: text-bottom;
}

button.displayonly {
	background-color: #fff;
	border: 1px solid #aaa;
}

button.btype-connerr {
	background-image: url("/static/img/icon_conerr.svg");
}

button.btype-manual {
	background-image: url("/static/img/icon_manual.svg");
}

button.btype-oneshot {
	background-image: url("/static/img/icon_oneshot.svg");
}

button.btype-repeat {
	background-image: url("/static/img/icon_repeat.svg");
}

button.btype-play {
	background-image: url("/static/img/icon_play.svg");
}

button.btype-stop {
	background-image: url("/static/img/icon_stop.svg");
}

button.btype-eye {
	background-image: url("/static/img/icon_eye.svg");
}

button.btype-skipcnt {
	background-image: url("/static/img/icon_skipcnt.svg");
}

button.btype-checkmark {
	background-image: url("/static/img/icon_ok.svg");
}

button.btype-warning {
	background-image: url("/static/img/icon_warn.svg");
}

button.btype-carriage-unknown {
	background-image: url("/static/img/icon_carriage_unknown.svg");
}

button.btype-carriage-left {
	background-image: url("/static/img/icon_carriage_left.svg");
}

button.btype-carriage-right {
	background-image: url("/static/img/icon_carriage_right.svg");
}

button.menubutton:hover {
	background-color: #fff;
}
